---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import Link from "../components/Link.astro"

import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import Speculationrules from "../components/Speculationrules.astro"

const posts = (await getCollection("articles")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<!doctype html>
<html lang="de" class="bg-ctp-base text-ctp-text dark:ctp-mocha">
    <head>
        <BaseHead />
    </head>
    <body>
        <main>
            <h1>{SITE_TITLE}</h1>
            <p>{SITE_DESCRIPTION}</p>
            <h2>Autoren</h2>
            <ul>
                <li>
                    <Link href="/frank-mayer/">Frank Mayer</Link>
                </li>
                <li>
                    <Link href="/vanessa-vieth/">Vanessa Vieth</Link>
                </li>
            </ul>
            <h2>Artikel</h2>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/articles/${post.slug}/`} class="hover:text-ctp-mauve">
                                    <img
                                        class="pointer-events-none rounded-lg"
                                        width={720}
                                        height={360}
                                        src={post.data.heroImage.replace(/\.[a-z]+$/, ".avif")}
                                        alt=""
                                    />
                                    <b>{post.data.title}</b>
                                    <p>
                                        <FormattedDate date={post.data.pubDate} />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
        <Footer />
        <Speculationrules />
    </body>
</html>
